<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8e64be3b9dcb29b57f6034eeccc6561e&auto=format&fit=crop&w=1950&q=80');">
  <div class="banner-content">
    <h1>Pets For Rent</h1>
    <p>See all of our great pets you can rent</p>
  </div>
</div>
<h3 class="text-center">Find Your New (Temporary) Best Friend</h3>
<div class="content">
  <div class="cards-container-map">
    <div class="row row-map">
      <% @pets.each do |pet| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path pet.photo, height: 300, width: 400%>');">
            <div class="card-description">
              <h2><%= pet.name %></h2>
              <p>Category: <%= pet.category %></p>
              <p>Age: <%= pet.age %></p>
              <p>Size: <%= pet.size %></p>
            </div>
            <% if policy(pet).show? %>
              <%= link_to "", pet_path(pet), class: 'card-link' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map" data-markers=<%= @markers.to_json %> ></div>
</div>


