<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8e64be3b9dcb29b57f6034eeccc6561e&auto=format&fit=crop&w=1950&q=80');">
  <div class="banner-content">
    <h1><%= @pet.name %>'s Profile</h1>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="text-center show"><h2><%= @pet.name %></h2></div>
    <div class="col-md-12">
      <div class="col-md-4 card-image" >
        <div class="slider" data-state="0">
          <svg id="prev" viewBox="0 0 31 101" version="1.1" class="pfeil prev left"><path d="M 0,0 30,50 0,100"></path></svg>
          <svg id="next" viewBox="0 0 31 101" version="1.1" class="pfeil next left"><path d="M 0,0 30,50 0,100"></path></svg>
          <div class="status">
            <div class="stat" data-key="0"></div>
            <div class="stat" data-key="1"></div>
            <div class="stat" data-key="2"></div>
            <div class="stat" data-key="3"></div>
            </div>
            <div class="image" data-key="0" >
              <%= cl_image_tag @pet.photo.url, crop: :thumb%>
            </div>
            <div class="image" data-key="1">
              <%= image_tag "https://grinrescue.org/templates/rt_requiem/custom/images/FrontPagePhotos/animated-golden.jpg", size:"50" %>
            </div>
            <div class="image" data-key="2">
              <%= image_tag "https://i.imgur.com/zMs8Sx6.jpg", size:"50" %>
            </div>
            <div class="image" data-key="3">
              <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Golden_Retriever_Adolescent.jpg/220px-Golden_Retriever_Adolescent.jpg", size:"50" %>
            </div>
          </div>
      </div>
        <div class="col-md-4 show">
          <p><strong>Address:</strong> <%= @pet.address %></p>
          <p><strong>Category:</strong> <%= @pet.category %></p>
          <p><strong>Age:</strong> <%= @pet.age %></p>
          <p><strong>Size:</strong> <%= @pet.size %></p>
          <% if @pet.user != current_user %>
          <p><strong>Owner:</strong> <%= link_to @pet.user[:first_name].capitalize, user_path(@pet.user)%></p>
          <% end %>
        </div>
        <div class="col-md-4 show">
          <p><strong>What <%= @pet.name.capitalize %> is like:</strong> <%= @pet.description %> And now you're back from outer space,  I just walked in to find you here with that sad look upon your face</p>
        </div>
        <div class="col-md-12 text-center list-inline show-buttons">
          <% if !policy(@pet).update? %>
            <a id= "booking-button" class= "btn btn-primary button" %>Book <%= @pet.name %> </a>
          <% end %>
          <% if policy(@pet).update? %>
            <%= link_to 'Edit Info', edit_pet_path(@pet), class:"btn btn-success button" %>
          <% end %>
          <% if policy(@pet).destroy? %>
            <%= link_to 'Delete Pet', @pet, class:"btn btn-danger button", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <% if !policy(@pet).update? %>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Message <%= @pet.name %>'s owner</button>
          <% end %>
        </div>
        <div class="col-md-2"></div>
        <div id="available-dates" class="col-md-4" style="display:none">
      <h4>Enter your preferred dates:</h4>

      <%= simple_form_for [@pet, @booking] do |f| %>
        <%= f.input :start_date, as: :string %>
        <%= f.input :end_date, as: :string %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
      </div>
    </div>



    </div>
  <div class="col-md-12 text-center back-link">
    <% if @pet.previous %>
      <div class="btn btn-default">
        <i class="fas fa-arrow-left"></i><%= link_to " Previous pet", pet_path(@pet.previous) %>
      </div>
    <% end %>
    <div class="btn btn-default">
      <%= link_to "Back to all pets", pets_path %>
    </div>
    <% if @pet.next %>
      <div class="btn btn-default">
        <%= link_to "Next pet ", pet_path(@pet.next) %><i class="fas fa-arrow-right"></i>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Send message</button>
      </div>
    </div>
  </div>
</div>
