
<div class="user-background">
<div class="container">
  <div class="row user-info">
    <img src="http://cdn.facesofopensource.com/wp-content/uploads/2017/02/09202215/linus.faces22052.web_.jpg" class="avatar-square">
    <h2>Hi, I'm <%= @user.first_name %> <%= @user.last_name %></h2>
    <div class="col-sm-4 user-card">
      <p><strong>Age</strong> <br> <%= @user.age %></p>
      <p><strong>Bio</strong>  <br>  <%= @user.description %></p>
    </div>
    <hr>
    <div><%= link_to 'Edit Info', edit_user_path(@user), class:"btn btn-success button" %></div>
  </div>
</div>
</div>
