<div class="dashboard-wrapper">
<div class="row">
  <div class="col-sm-3 col-md-3">
    <h2 class="title">Info</h2>
    <div class= "side-container white-container">
      <% @id = current_user.id %>
      <% bookings = Booking.all.where(user_id: @id) %>
        <div class="content_user">
          <% if current_user[:photo]%>
            <div class="avatar-round" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path current_user.photo, width: 150, crop: :thumb, gravity: :north %>');"></div>
          <% else %>
            <div class="avatar-round" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://image.flaticon.com/icons/svg/145/145849.svg');"></div>
          <% end %>
          <div>
            <h1><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %></h1>
          </div>
          <div >
            <div class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star off"></i></div>
            <h4><%= current_user.email %></h4>
            <%= link_to "Update profile", edit_user_path(current_user) %>
          </div>
        </div>
    </div>
  </div>


  <div class="booking-container">
      <div class="col-sm-9">
        <h2 class="title">Your bookings</h2>
      <% bookings.each do |booking|   %>
      <li class="booking">
        <div class="booking-info">
        <div class="pet-avatar" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.pet.photo, width: 250, crop: :thumb, gravity: :north %>');"></div>
          <h3 class="bold"><%= booking.pet.name %></h3>
        </div>
        <div class="booking-owner column">
          <h4>Owner:</h4>
          <h3 class="bold orange"><%= booking.pet.user.first_name  %></h3>
        </div>
        <div class="booking-start column">
          <h4>Start:</h4>
          <h3 class="bold orange"><%= booking.start_date.to_s(:long) %></h3>
        </div>
        <div class="booking-end column">
          <h4>Finish:</h4>
          <h3 class="bold orange"><%= booking.end_date.to_s(:long) %></h3>
        </div>
        <div class="booking-payment column column-right">
          <h4>Status:</h4>
          <h3 class="bold pending">Pending</h3>
        </div>
        <div class="booking-changes">
          <%= link_to "Edit booking", edit_booking_path(booking), class:"btn btn-primary" %>
        </div>
      </li>
    <% end %>
    </div>
  </div>

    <div class="col-sm-6 col-md-6">
      <h2 class="title">Messages</h2>
      <div class='white-container'>
      <li class="booking bold">
        <div class="booking-from ">
          <h3>From:</h3>
        </div>
        <div class="booking-message column">
          <h3>Message:</h3>
        </div>
      </li>
      <li class="booking">
        <div class="booking-from">
          <h3>Mark</h3>
        </div>
        <div class="booking-message column">
          <h3>Hey, thanks for contacting me</h3>
        </div>
      </li>
      <li class="booking">
      <div class="booking-from">
        <h3>Marie</h3>
      </div>
      <div class="booking-message column">
        <h3>Is your pet OK around children?</h3>
      </div>
      </li>
        <li class="booking-bottom">
        <div class="booking-from ">
          <h3>Peter</h3>
        </div>
        <div class="booking-message column">
          <h3>How often do I need to feed your cat?</h3>
        </div>
      </li>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <h2 class="title">My reviews</h2>
      <div class='white-container'>
        <div class='rating inline-block'>
          <div class="fa fa-star on d-inline"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star off"></i></div>
           <h3 class="d-inline">Higly recommended</h3>
          <p class="d-inline">- Bella</p>
        </div>
        <div class='rating'>
          <div class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i></div>
          <h3 class="d-inline">My dog loved <%= current_user.first_name %></h3>
          <p class="d-inline">- Jen</p>
        </div>
        <div class='rating'>
          <div class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star off"></i><i class="fa fa-star off"></i></div>
          <h3 class="d-inline">Everythink was fine</h3>
          <p class="d-inline">- Ben</p>
        </div>
      </div>
    </div>

</div>
</div>



