<div id="home-banner" class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%), url('https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8e64be3b9dcb29b57f6034eeccc6561e&auto=format&fit=crop&w=1950&q=80');">

  <div class="banner-content">
    <h1>Welcome to Pets BnB</h1>
    <h3>Book pets near you to sit while their owners are away</h3>
    <%= form_tag pets_path, method: :get do %>
    <%= text_field_tag :address, params[:query],
    class: "form-control",
    placeholder: "Find a pet by an address"
    %>
    <%= text_field_tag :query, params[:query],
    class: "form-control",
    placeholder: "Find a pet by size, age, breed or name"
    %>
    <%= select_tag :category, options_for_select(["cat", "dog", "rabbit", "reptile", "other"]),
    class: "form-control",
    placeholder: "Find a pet"
    %>
    <%= submit_tag "search" %>
    <% end %>
  </div>
